#wrapper {
  margin: auto;
  width: max-content;

  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: var(--primary);

  border: 2px solid;
  border-color: var(--light) var(--dark) var(--dark) var(--light);

  --dark: #999;
  --primary: #ccc;
  --light: white;
}
#wrapper > header {
  padding: 5px;

  background: #ccc;
  border: 2px solid;
  border-color: var(--dark) var(--light) var(--light) var(--dark);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper > main {
  border: 2px solid;
  border-color: var(--dark) var(--light) var(--light) var(--dark);
}
#wrapper > header > div {
  display: inherit;
}
#wrapper > main {
  display: grid;
  grid-template-columns: repeat(16, 16px);
}
#smiley {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
